@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

h4 {
    font-family: 'Open Sans', 'Helvetica Neue' , Helvetica, sans-serif;
    font-size: 32px;
    color: #FFF;
}


#board {
    padding-left: 75px;
}

#board img {    
    width: 20%;
    height: 20%;
    padding: 3px;

}

.btn {
    padding: 1em;
    margin-bottom: 10px;
    font-size: 24px;
}

#win  {
    display: none;
}

body {
    background-image: url(../img/background.png);
}

body p {
    font-size: 24px;
    color: #FFF;
}

div p {
    font-size: 18px;
    color: #FFF;
}

